body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    gap: 2rem;
    overflow: hidden;
}

canvas {
    border: 1px solid white;
}

#scores {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: auto;
    height: auto;
}

#scores h2 {
    font-size: 18px;
    margin: 0;
}
  
#scores-list {
    list-style: none;
    padding: 0;
}
  
#scores-list li {
    margin: 5px 0;
    font-size: 16px;
}

#button-container {
    position: relative;
    bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    outline: none;
}

.arrow-up {
    transform: rotate(-90deg);
}

.arrow-down {
    position: absolute;
    top: 100%;
    transform: rotate(90deg);
}

.arrow-left {
    position: absolute;
    top: 50%;
    left: -100%;
    transform: rotate(180deg);
}

.arrow-right {
    position: absolute;
    top: 50%;
    left: 100%;
}

@media (max-width: 768px){
    body {
        flex-direction: column;
    }

    canvas {
        aspect-ratio: 5/4;
        width: 500px;
        height: 400px;
    }

    #scores-list {
        display: flex;
        gap: 1rem;
    }
}

@media (min-width: 768px){
    #button-container {
        display: none;
    }
}
